body{
    background-image: url(img/background3.png);
    width:1000px;
    height:5000px;
}

.top{
    z-index: 99;
}

p {
    color:#6E6B36;
 }

 h1 {
    color:#6E6B36;
 }

 h2 {
    color:#6E6B36;
 }

 .color{
    color:#6E6B36
 }

.goodright{
    color:#FFA500;
    font-size: 80px;
}

.italic{
    font-style: italic;
}

.goodbig{
    color:#FFA500;
    font-size: 180px;
}

.right{
    float: right;
    text-align: right;
}

.goodsmall{
    color:#FFA500;
    font-size: 50px;
}

.center{
    text-align: center;
}

.image-text{
    background-image: url(img/insidious_orange_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    z-index: 99;
}

.background_color{
    background-color: #FFA500;
}