body{
    background-image: url(img/background3.png);
    width:1000px;
    height:5000px;
}

.top{
    z-index: 99;
}

p {
    color:#6E6B36;
 }

 h1 {
    color:#6E6B36;
 }

 h2 {
    color:#6E6B36;
 }

 h5{
    size: 20pt;
 }
 .color{
    color:#6E6B36
 }

.goodright{
    color: #6E6B36;
    font-size: 80px;
}

.italic{
    font-style: italic;
}

.goodbig{
    color:#FFA500;
    font-size: 180px;
}

.right{
    float: right;
    text-align: right;
}

.goodsmall{
    color:#FFA500;
    font-size: 50px;
}

.center{
    text-align: center;
}

.image-text{
    background-image: url(img/insidious_orange_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    z-index: 99;
}

.background_color{
    background-color: #FFA500;
}

.background_color2{
    background-color: #6E6B36;
}

li{
    font-size: 280%;
    color: #6E6B36;
    transition: color 0.3s ease;
}

li:hover{
    color: #FFA500;
}

.grayborder{
    border-style: dotted;
    border-width: 1px;
    border-color: rgb(84, 84, 84);
}

.color-change{
    filter: saturate(100%);
    transition: filter 0.3s ease;
}

.color-change:hover{
    filter: saturate(300%);
}

.rotate{
    transform: rotate(90deg);
}

html {
  cursor: url(img/orangecursor.png), auto;
}

a {
  cursor: url(img/insidiousorangecursor.png), auto;
}

a {
    text-decoration-line: none;
}

.box {
    background-color: #6E6B36;
    color: #FFA500;
    text-align: justify;
    width: 300px;
    height:100px;
    font-size: 20pt;
    padding: 20px;
    border: 15px solid #FFA500;
    margin: 400px;
    margin-left: 50%;
    justify-content: center;
}

.container { 
    display: flex; 
    justify-content: center; 
}