body {
    background-image: url(img/evenmore.png);
    width:1000px;
    height:5000px;
}

.fixed-element {
    position: fixed; 
    top: 1000px;
    left: 700px;
    padding: 10px;
}

.remaining-content {
    height: 100vh;
}

.more_normal_oranges {
   position: relative;
    top: 800px;
    left: 100px;
    right: 100px;
    z-index: -1;
}

.back {
    position: sticky;
    z-index: -99;
}

.color-burn {
    mix-blend-mode: color-burn;
    opacity: 30%;
}

.google_drive {
    background-color: chocolate;
    color: darkkhaki;
    text-align: justify;
    text-wrap: wrap;
    font-size: 80pt;
    width: 700px;
    height: 1150px;
    padding: 20px;
    border: 50px solid darkkhaki;
    margin: 200px;
}

.color-change{
    filter:brightness(100%);
    transition: filter 0.3s ease;
}

.color-change:hover{
    filter: brightness(150%);
}

html {
  cursor: url(img/insidiousorangecursor.png), auto;
}

a {
  cursor: url(img/orangecursor.png), auto;
}